Fastapi[standard]
azure-ai-documentintelligence
dotenv
azure-ai-formrecognizer>=3.3.0
openai
beautifulsoup4==4.13.4
python-docx==1.2.0
python-jose==3.4.0
azure-storage-blob
pandas
openpyxl>=3.0.0
langdetect==1.0.9